tr.parent { border: 1px solid #f8f8f8; }
tr.parent td.name { white-space: nowrap;  width: 300px; }
tr.child { border: 1px solid #f8f8f8; }
tr.child td.name { white-space: nowrap;  width: 300px; }
tr.hide { display:none; }
b.empty { text-align:right; width: 100%; cursor: pointer; }
